@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<TblProduct>
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>              
                <li class="active">Details</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->

<div class="content-wraper">
    <div class="container">
        <div class=" single-product-area">
            <div class="col-lg-5 d-plex col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="~/images/product/large-size/@Model[0].Image" data-gall="myGallery">
                                <img src="~/images/product/large-size/@Model[0].Image" alt="product image">
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="product-details-view-content pt-60">
                        <div class="product-info">
                            <h2>@Model[0].NameProduct</h2>
                            <span class="product-details-ref">Reference: demo_15</span>
                            <div class="price-box pt-20">
                                <span class="new-price new-price-2">@Model[0].Price$</span>
                                <span class="old-price">@Model[0].Discount$</span>
                            </div>
                            <div class="product-desc">
                                <p>
                                    <span>
                                        @Model[0].Decription
                                    </span>
                                </p>
                            </div>
                            
                            <!-- Hiển thị số lượng -->
                            <div class="product-desc">
                                <p>
                                    <span>
                                        Quantity: @Model[0].Quantity
                                    </span>
                                </p>
                            </div>
                            <!-- Hiển thị thời gian -->
                            <div class="product-desc">
                                <p>
                                    <span>
                                        Created At: @Model[0].CreatedAt
                                    </span>
                                </p>
                            </div>
                            <div class="product-desc">
                                <p>
                                    <span>
                                        Updated At: @Model[0].UpdatedAt
                                    </span>
                                </p>
                            </div>
                            <div class="product-desc">
                                <p>
                                    <span>
                                        Published At: @Model[0].PublishedAt
                                    </span>
                                </p>
                            </div>
                            <div class="product-desc">
                                <p>
                                    <span>
                                        Starts At: @Model[0].StartsAt
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->


