@model List<Web.ViewModels.TblOrderDetail>
@{
    ViewData["Title"] = "OrderDetail";
    double totaldetail = 0;
}
<div class="d-flex justify-content-between align-items-center px-5">
    <h1 style="font-size:20px;font-weight:600;margin-bottom:auto">
        Your Order:<span style="font-size:20px;font-weight:600;color:#1b75d0;font-style:italic"> OderID#@ViewBag.ID</span>
    </h1>
    <div class="flex-column d-flex gap-2">
        <span style="font-size:20px;font-weight:500;color:#f52424">
            OrderStatus:@ViewBag.Status
        </span>
        <span style="font-size:12px;font-weight:400;color:#333;margin-left:auto">@ViewBag.Date</span>
    </div>

</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-10 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <div id="cartitem">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="li-product-thumbnail">images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="li-product-price">Unit Price</th>
                                        <th class="li-product-quantity">Quantity</th>
                                        <th class="li-product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        totaldetail = item.Quantity * item.Price;
                                        <tr id="cartItem_@item.ProductId">
                                            @* <td class="li-product-remove"><a style="cursor:pointer" asp-controller="ShoppingCart" asp-action="RemoveCart" asp-route-productId="@item.product.ProductId"><i class="fa fa-times"></i></a></td> *@
                                            <td class="li-product-thumbnail"><a href="#"><img src="images/product/small-size/@item.Product.Image" alt="Li's Product Image"></a></td>
                                            <td class="li-product-name"><a href="#">@item.Product.NameProduct</a></td>
                                            <td class="li-product-price"><span class="amount">@item.Price</span></td>
                                            <td class="quantity">
                                                <span class="quantity">@item.Quantity </span>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">@totaldetail</span></td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div class="row container" style="margin: auto;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon2">
                                            <a asp-controller="Order" asp-action="Index"
                                               class="button" style="display:flex;justify-content:center;align-items:center;cursor:pointer;background-color: #333; border: none; color: #fff; width: 120px; height: 40px;"
                                               onmouseover="this.style.backgroundColor='#ffc107'" onmouseout=" this.style.backgroundColor='#333'">
                                                More Order
                                            </a>
                                            @*  <input class="button" name="update_cart" value="Update cart" type="submit"> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Subtotal <span id="subtotalAmount">@ViewBag.Total</span></li>
                                        <li>Total <span id="totalAmount">@ViewBag.Total</span></li>
                                    </ul>
                                    @*  <a href="#">Proceed to checkout</a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>